nav{
	background-color: #01579b ;
}

label{
	font-size: 12px !important;
}

.row{
	line-height: 18px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}